.cardTitle{
  background-color: rgb(69, 48, 110);  
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardButtons{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.textArea{
  width: 90%;
  height: 300px;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: white;
  color: black;
}